{
    "trailingComma": "es5",
    "printWidth": 80,
    "singleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@root/(.*)$",
        "^@routes/(.*)$",
        "^@controllers/(.*)$",
        "^@helpers/(.*)$",
        "^[./]"
    ],
    "importOrderBuiltinModulesToTop": true,
    "importOrderCaseInsensitive": true,
    "importOrderMergeDuplicateImports": true,
    "importOrderCombineTypeAndValueImports": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
